@{
    ViewData["Title"] = "Home Page";
    ViewData["NoBox"] = true;
    var ArticleCount = ViewData["ArticleCount"];

}
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@using CLAD.Models


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">test</a>.</p>
</div>



<div class="row" style="margin: 2rem;">
    <div class="col-md-3">
        <div class="info-box">
            <!-- Apply any bg-* class to to the icon to color it -->
            <span class="info-box-icon bg-red"><i class="fa fa-user"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Gebruikers</span>
                <span class="info-box-number">@UserManager.Users.Count()</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

    <div class="col-md-3">
        <div class="info-box">
            <!-- Apply any bg-* class to to the icon to color it -->
            <span class="info-box-icon bg-red"><i class="fa fa-newspaper-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Artikelen</span>
                <span class="info-box-number">@ViewData["ArticleCount"].ToString()</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>

    <div class="col-md-3">
        <div class="info-box">
            <!-- Apply any bg-* class to to the icon to color it -->
            <span class="info-box-icon bg-red"><i class="fa fa-newspaper-o"></i></span>
            <div class="info-box-content">
                <span class="info-box-text">Consultants</span>
                <span class="info-box-number">@ViewData["ConsultantCount"].ToString()</span>
            </div>
            <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
    </div>
</div>
