@{
    ViewData["Title"] = "Home Page";
}

<div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
        <p class="text-white m-0">Hulp word gegeven aan de gene die vragen!</p>
    </div>
</div>

<partial name="_MainPagePartial" />

