@model IEnumerable<User>

@{
    ViewData["Title"] = "Users";
}

<h1>Consultants</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Gebruikersnaam
            </th>
            <th>
                DisplayName
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @item.GetDisplayName()
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
        </tr>
}

    </tbody>
</table>
