<!-- Footer -->
<footer class="bg-dark align-bottom">

    <div class="row m-0">
        <div class="container w-50 col-sm-6 text-center">
            <div class="m-0 p-3 text-white">
                <ul class="list-unstyled">
                    <h5><li>Navigatie</li></h5> <br />
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Articles" asp-action="Index">Articles</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Knowledgebase" asp-action="Index">Kennisbank</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Consultant" asp-action="Index">Consultants</a>
                    </li>
                    <li class="nav-item">
                        <a asp-area="" asp-controller="Mails" asp-action="Create">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container w-50 col-sm-6 text-center">
            <div class="m-0 p-3 text-white">
                <ul class="list-unstyled">
                    <h5><li>Contactgegevens:</li></h5> <br />
                    <li>Jeetjeminieetjestraat 69</li>
                    <li>1420 GG Delly city</li>
                    <li>Nederland</li>
                </ul>
            </div>        </div>

        <div class="container col-sm-12 text-center">
            <p class="m-0 p-3 pt-0 align-items-center justify-content-center text-center text-white row">Copyright © CeeLearnAndDo 2019</p>
        </div>
    </div>

    @*<table class="w-100">
        <tr class="container w-50">
            <td class="m-0 p-3 w-50 text-center text-white">
                <p>Sjon</p>
            </td>
            <td class="m-0 p-3 w-50 text-center text-white">
                <p>Henk</p>
            </td>
        </tr>
        <tr class="container">
            <td class="m-0 pb-3 pt-0 text-center text-white row">
                <p>Copyright &copy; CeeLearnAndDo 2019</p>
            </td>
        </tr>
    </table>*@
    <!-- /.container -->
</footer>