<!-- Footer -->
<footer class="bg-dark align-bottom">

    <div class="row">
        <div class="container w-50 col-sm-6 text-center">
            <div class="m-0 p-3 text-white">
                <ul class="list-unstyled">
                    <li>TriatSjon</li>
                    <li>StatSjon</li>
                    <li>PenSjon</li>
                    <li>LaserkaSjon</li>
                    <li>KersenSjonSjon</li>
                    <li>PlaystaSjon</li>
                    <li>FoundaSjon</li>
                    <li>LoSjon</li>
                    <li>PromoSjon</li>
                    <li>ScienceficSjon</li>
                    <li>Emo-Sjon-eel</li>
                    <li>Na-Sjon-aalist</li>
                    <li>Sensa-Sjon-eel</li>
                </ul>
            </div>
        </div>
        <div class="container w-50 col-sm-6 text-center">
            <div class="m-0 p-3 text-white">
                <ul class="list-unstyled">
                    <li>GescHenk</li>
                    <li>AfscHenk</li>
                    <li>VolscHenk</li>
                    <li>InscHenk</li>
                    <li>OverscHenk</li>
                </ul>
            </div>        </div>

        <div class="container col-sm-12 text-center">
            <p class="m-0 p-3 pt-0 align-items-center justify-content-center text-center text-white row">Copyright © CeeLearnAndDo 2019</p>
        </div>
    </div>

    @*<table class="w-100">
        <tr class="container w-50">
            <td class="m-0 p-3 w-50 text-center text-white">
                <p>Sjon</p>
            </td>
            <td class="m-0 p-3 w-50 text-center text-white">
                <p>Henk</p>
            </td>
        </tr>
        <tr class="container">
            <td class="m-0 pb-3 pt-0 text-center text-white row">
                <p>Copyright &copy; CeeLearnAndDo 2019</p>
            </td>
        </tr>
    </table>*@
    <!-- /.container -->
</footer>